.about {
  @include background-text;
  padding-top: 12.2vh;
  background-color: rgba(248, 248, 248, 0.5);

  &::before {
    top: 40px;
    left: 53px;
    color: #ffffff;
  }

  @include media-mobile {
    padding: 0;
  }
}

.about__container {
  width: 775px;
}

.about__text {
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}
