.page-section {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: hidden;
}

.page-section__container {
  z-index: 3;
  margin-right: calc((100% - 910px) * 0.415);
  margin-left: calc((100% - 910px) * 0.585);

  @include media-mobile {
    margin: 0 20px;
  }
}

.page-section__lead {
  margin: 0 0 40px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.page-section__text {
  font-size: 18px;
  line-height: 27px;

  strong,
  b {
    font-weight: 600;
  }
}
