.section-navigation {
  @include list-reset;
  position: fixed;
  top: 50%;
  left: 100px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
  transform: translateY(-50%);

  @include media-mobile {
    display: none;
  }
}

.section-navigation__item:nth-child(1) {
  .section-navigation__link::before {
    content: none;
  }
}

.section-navigation__item:nth-last-child(1) {
  .section-navigation__link::after {
    content: none;
  }
}

.section-navigation__link {
  position: relative;
  z-index: 5;
  display: block;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 56px;
    background-color: #f2f2f2;
  }

  &::before {
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover .section-navigation__label {
    position: absolute;
    top: 50%;
    left: 29px;
    display: flex;
    padding: 9px 9px 9px 7px;
    font-size: 12px;
    line-height: 120%;
    color: #ffffff;
    background-color: #333333;
    transform: translateY(-50%);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -8px;
      display: block;
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-right: 8px solid #333333;
      border-bottom: 16px solid transparent;
    }
  }

  &:active,
  &:focus {
    background-color: #999999;
    box-shadow: inset 0 0 0 2px #ffffff;
  }

  &:focus {
    outline: none;
  }

  &--current {
    background-color: #999999;

    &::before,
    &::after {
      background-color: #999999;
    }

    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}

.section-navigation__label {
  display: none;
}
