.send-request {
  @include background-text;
  padding-top: 9.8vh;

  &::before {
    top: 55px;
    left: 60px;
    color: rgba(248, 248, 248, 0.5);
  }
}

.send-request__lead {
  width: 610px;

  @include media-mobile {
    width: auto;
  }
}

.send-request__text {
  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}
