.services {
  @include background-text;
  padding-top: 12.2vh;

  &::before {
    top: 40px;
    left: 53px;
    color: rgba(248, 248, 248, 0.5);
  }

  @include media-mobile {
    align-items: flex-end;
    padding: 0 0 96px;

    &::before {
      top: 13%;
      left: 20px;
      padding: 0;
    }
  }
}

.services__list {
  @include list-reset;
}

.services__item {
  @include media-mobile {
    margin-bottom: 12px;
  }
}

.services__text {
  margin: 0;

  strong,
  span {
    display: block;
  }

  strong {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }

  span {
    margin-left: 170px;
  }

  @include media-mobile {
    margin: 0;

    strong {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 23px;
    }

    span {
      margin: 0;
      font-size: 13px;
      line-height: 17px;
    }
  }
}
