@mixin background-text {
  position: relative;
  z-index: 1;

  &::before {
    content: attr(data-background-text);
    position: absolute;
    z-index: 2;
    font-size: 500px;
    line-height: 101.38%;
    font-family: "Roboto Mono";
    font-weight: bold;
    text-transform: uppercase;
  }

  @include media-mobile {
    &::before {
      top: 15%;
      left: 20px;
      font-size: 150px;
    }
  }
}
