@import url(../../node_modules/normalize.css/normalize.css);

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "YesevaOne";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/YesevaOne-Regular.woff") format("woff"), url("../fonts/YesevaOne-Regular.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

body {
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #1f1c1d;
}

.container {
  margin: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 141px;
  padding: 15px 17px 16px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border: 0.5px solid #a07b50;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: #a07b50;
  border-color: #ffffff;
}

.page-header {
  background-color: #181617;
}

.page-header__logo {
  display: block;
  width: 100%;
  margin: 0 auto 57px;
  text-align: center;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.page-header__logo path {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.page-header__logo:hover path {
  fill: #ffffff;
}

.page-header__content {
  text-align: center;
}

.page-header__city {
  margin: 0 0 20px;
}

.page-header__title {
  margin: 0 0 30px;
  font-family: "Yeseva One", "Georgia", serif;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.page-header__text {
  font-weight: 400;
  color: #a07b50;
}

.page-header__lead {
  width: 230px;
  margin: 0 auto 40px;
}

.page-header__button {
  margin: 0 auto;
}

.page-header__social-list {
  display: none;
}

.page-header__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-header__social-link path {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.page-header__social-link:hover path {
  fill: #a07b50;
}

.page-section__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-section__title {
  margin: 0 auto 35px;
  font-family: "Yeseva One", "Georgia", serif;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

.page-section__lead {
  margin: 0 auto 40px;
  text-align: center;
  color: #a07b50;
}

.pets__wrapper {
  padding-bottom: 0;
}

.pets__title {
  margin-bottom: 23px;
}

.pets__lead {
  max-width: 516px;
  margin-bottom: 40px;
}

.pets__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 234px;
  margin: 0 auto 40px;
}

.pets__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.pets__link--active,
.pets__link:hover {
  color: white;
}

.pets__button {
  margin: 0 auto;
}

.pets__slider {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 45px;
}

.pets__slider-wrapper {
  width: calc(100% - 50px);
  margin: 0 auto;
}

.pets__slider-content {
  overflow: hidden;
}

.pets__slider-content .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets__slider-item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 73.125vw;
  max-width: 474px;
  height: 77.5vw;
  max-height: 491px;
  margin: 0 50px;
  overflow: hidden;
}

.pets__slider-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: none;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pets__slider .slick-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8px;
  height: 18px;
  padding: 0;
  border: 0;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/arrow-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pets__slider .slick-arrow:hover {
  opacity: 1;
}

.pets__slider .slick-prev {
  top: 50%;
  left: 0;
}

.pets__slider .slick-next {
  top: 50%;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.breed-features__title {
  margin-bottom: 23px;
}

.breed-features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breed-features__item {
  position: relative;
  margin: 0 0 30px 0;
  padding-right: 18px;
  padding-left: 18px;
}

.breed-features__item:nth-last-child(1) {
  margin-bottom: 0;
}

.breed-features__item::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #a07b50;
  border-radius: 50%;
}

.breed-features__text {
  margin: 0;
}

.breed-features__lead {
  max-width: 450px;
  margin-bottom: 30px;
}

.breed-features__picture-wrapper {
  position: relative;
  width: 267px;
  min-height: 295px;
  margin: 0 auto 45px;
}

.breed-features__picture-wrapper::before,
.breed-features__picture-wrapper::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.breed-features__picture-wrapper::before {
  top: 50px;
  left: 15px;
  z-index: -1;
  width: 230px;
  height: 230px;
  background: #151313;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.breed-features__picture-wrapper::after {
  top: 25px;
  left: -7px;
  z-index: -1;
  width: 280px;
  height: 280px;
  border: 0.5px solid #a07b50;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantages {
  background-color: #181617;
}

.advantages__title {
  width: 190px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  min-height: 248px;
  margin: 0 auto 30px;
  padding: 15px;
  background-color: #1f1c1d;
}

.advantages__item:nth-last-child(1) {
  margin-bottom: 0;
}

.advantages__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.advantages__link--health svg {
  width: 80px;
  height: 88px;
}

.advantages__link--consultation {
  padding: 47px 0 50px;
}

.advantages__link--consultation svg {
  width: 80px;
  height: 71px;
}

.advantages__link path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.advantages__link--nutrition svg {
  width: 57px;
  height: 88px;
}

.advantages__link:hover {
  background-color: #a07b50;
}

.advantages__link:hover path {
  fill: #ffffff;
}

.advantages__text {
  margin: 0;
}

.care__title {
  margin-bottom: 40px;
}

.list-care {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-care__item {
  position: relative;
  max-width: 560px;
  min-height: 170px;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  border: 0.5px solid #a07b50;
}

.list-care__item:nth-last-child(1) {
  margin-bottom: 0;
}

.list-care__link {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 25px 57px 25px 25px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list-care__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 45px;
  height: 100%;
  background-color: #a07b50;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px 18px;
  border-left: 1px solid #a07b50;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list-care__link:hover {
  background-color: #151313;
}

.list-care__link:hover::after {
  background-color: #151313;
}

.list-care__title {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #a07b50;
}

.list-care__text {
  margin: 0;
}

.team {
  background-color: #181617;
}

.team__lead {
  max-width: 510px;
}

.team__slider-wrapper {
  position: relative;
  overflow: hidden;
}

.team__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  position: relative;
  width: 90.625vw;
  margin: 0 4.6875vw;
}

.team__image-wrapper {
  width: 43%;
  max-width: 180px;
  margin: 0 auto;
}

.team__image-wrapper img {
  display: block;
  width: 100%;
}

.team__item-content {
  margin-top: -63px;
  padding-top: 88px;
  padding-bottom: 16px;
  background-color: #1f1c1d;
  text-align: center;
}

.team__item-content blockquote {
  margin: 0;
  color: rgba(255, 255, 255, 0.72);
}

.team__item-content p {
  margin: 0 10px 30px;
}

.team__item-title {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #a07b50;
}

.team__item-jobTitle {
  display: block;
  margin-bottom: 25px;
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: #a07b50;
}

.team__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70px;
  margin: 0 auto;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__social-link path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team__social-link:hover path {
  fill: #a07b50;
}

.team__buttons-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 54.375vw;
  max-width: 228px;
}

.team__buttons-wrapper .slick-arrow {
  width: 8px;
  height: 18px;
  padding: 0;
  border: 0;
  font-size: 0;
  background-color: transparent;
  background-image: url(../img/arrow-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team__buttons-wrapper .slick-arrow:hover {
  opacity: 1;
}

.team__buttons-wrapper .slick-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__wrapper {
  padding-bottom: 0;
}

.faq__lead {
  margin-bottom: 55px;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faq__item {
  margin-bottom: 30px;
}

.faq__item:nth-last-child(1) {
  margin-bottom: 0;
}

.faq__item-wrapper {
  max-width: 550px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid #544332;
}

.faq__question {
  position: relative;
  width: 100%;
  min-height: 80px;
  padding: 15px 50px 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  font-weight: 500;
  color: #ddd0c3;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.faq__question::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 43px;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  border-left: 0.5px solid #a07b50;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.faq__question:hover {
  background-color: #151313;
}

.faq__question:hover::after {
  background-color: #151313;
}

.faq__question--active::after {
  background-color: #a07b50;
  background-image: url("../img/minus.svg");
  background-size: 16px 2px;
}

.faq__text {
  display: none;
}

.faq__text--show {
  display: block;
  margin: 0;
  padding: 15px 27px 15px 15px;
  color: #ddd0c3;
  border-top: 0.5px solid #544332;
}

.faq__text p {
  margin: 0 0 15px 0;
  font-weight: 300;
}

.faq__text p:nth-last-child(1) {
  margin-bottom: 0;
}

.reviews__wrapper .container {
  margin: 0;
}

.reviews__title {
  margin-bottom: 60px;
}

.reviews__slider-wrapper {
  position: relative;
  overflow: hidden;
}

.reviews__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  width: 90.625vw;
  margin: 0 4.6875vw;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__img-wrapper {
  width: 242px;
  height: 166px;
  margin: 0 auto;
}

.reviews__item-content {
  margin-top: -83px;
  padding: 118px 30px 40px;
  text-align: center;
  background-color: #181617;
}

.reviews__item-content blockquote {
  margin: 0;
}

.reviews__author-name {
  display: block;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.reviews__author-text {
  margin: 0 auto 25px;
  max-width: 400px;
  font-style: normal;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.72);
}

.reviews__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 185px;
  margin: 0 auto;
}

.reviews__date {
  font-size: 12px;
  line-height: 17px;
  color: rgba(160, 123, 80, 0.94);
}

.reviews__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70px;
}

.reviews__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5px solid #a07b50;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reviews__social-link path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reviews__social-link:hover {
  border-color: #ffffff;
}

.reviews__social-link:hover path {
  fill: #ffffff;
}

.reviews__buttons-wrapper {
  position: absolute;
  top: 74px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90.625vw;
}

.reviews__buttons-wrapper .slick-arrow {
  width: 8px;
  height: 18px;
  padding: 0;
  font-size: 0;
  border: 0;
  background-color: transparent;
  background-image: url("../img/arrow-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reviews__buttons-wrapper .slick-arrow:hover {
  opacity: 1;
}

.reviews__buttons-wrapper .slick-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-footer {
  background-color: #181617;
}

.page-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__address {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

.page-footer__address address {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #d6ccc2;
}

.page-footer__phone {
  display: block;
  margin: 0 auto 25px;
  text-decoration: none;
  text-align: center;
  color: #fdf2e6;
}

.page-footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 94px;
  margin: 0 auto 25px;
}

.page-footer__social path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.page-footer__social-link:hover path {
  fill: #ffffff;
}

.page-footer__logo {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.page-footer__logo path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.page-footer__logo:hover path {
  fill: #ffffff;
}

@media (min-width: 768px) {
  .container {
    width: calc(100% - 54px);
    max-width: 1060px;
    margin: 0 auto;
  }

  .button {
    width: 200px;
    padding: 17px 35px 18px;
    font-size: 14px;
    line-height: 16px;
  }

  .page-header__wrapper {
    padding-top: 30px;
    padding-bottom: 45px;
    background-image: url("../img/main-cat-tablet@1x.png");
    background-size: 534px auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .webp .page-header__wrapper {
    background-image: url("../img/main-cat-tablet@1x.webp");
    background-size: 534px auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .page-header__logo {
    margin-bottom: 95px;
  }

  .page-header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 0 14px;
    text-align: start;
  }

  .page-header__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 60px;
  }

  .page-header__city {
    margin: 0 auto 18px 0;
    font-size: 16px;
    line-height: 24px;
  }

  .page-header__title {
    width: 350px;
    margin: 0 auto 31px 0;
    font-size: 52px;
    line-height: 60px;
  }

  .page-header__lead {
    width: 270px;
    margin: 0 auto 57px 0;
    font-size: 16px;
    line-height: 24px;
  }

  .page-header__button {
    margin: 0 auto 0 0;
  }

  .page-header__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 58px;
  }

  .page-section__wrapper {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  .page-section__wrapper {
    padding-top: 85px;
  }

  .page-section__title {
    font-size: 36px;
    line-height: 42px;
  }

  .page-section__lead {
    font-size: 16px;
    line-height: 26px;
  }

  .pets__wrapper {
    padding-bottom: 0;
  }

  .pets__list {
    width: 250px;
  }

  .pets__link {
    font-size: 18px;
    line-height: 21px;
  }

  .pets__slider {
    max-width: 710px;
    margin-bottom: 55px;
  }

  .pets__slider .slick-arrow {
    width: 12px;
    height: 30px;
  }

  .breed-features {
    position: relative;
  }

  .breed-features__wrapper {
    min-height: 835px;
    padding-bottom: 0;
  }

  .breed-features__list {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }

  .breed-features__item {
    margin: 0;
    padding: 0;
  }

  .breed-features__item::after {
    width: 10px;
    height: 10px;
  }

  .breed-features__item--companion {
    top: 412px;
    right: 283px;
    max-width: 167px;
    text-align: end;
  }

  .breed-features__item--companion::after {
    left: 186px;
  }

  .breed-features__item--training {
    max-width: 133px;
    top: 416px;
    left: 313px;
  }

  .breed-features__item--training::after {
    left: -23px;
  }

  .breed-features__item--size {
    max-width: 111px;
    top: 458px;
    left: 285px;
  }

  .breed-features__item--size::after {
    top: 3px;
    left: -22px;
  }

  .breed-features__item--lynx {
    max-width: 140px;
    top: 342px;
    right: 269px;
    text-align: end;
  }

  .breed-features__item--lynx::after {
    top: 6px;
    left: 155px;
  }

  .breed-features__text {
    font-size: 16px;
    line-height: 23px;
  }

  .breed-features__lead {
    width: 60%;
    max-width: 735px;
    margin-bottom: 43px;
  }

  .breed-features__picture-wrapper {
    width: 400px;
    margin-bottom: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }

  .breed-features__picture-wrapper::before {
    top: 80px;
    left: 15px;
    width: 342px;
    height: 342px;
    background: #151313;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .breed-features__picture-wrapper::after {
    top: 43px;
    left: -22px;
    width: 416px;
    height: 416px;
  }

  .advantages__wrapper {
    padding-top: 85px;
  }

  .advantages__title {
    width: auto;
    margin-bottom: 23px;
  }

  .advantages__lead {
    margin-bottom: 58px;
  }

  .advantages__item {
    width: 360px;
    min-height: 305px;
    margin-bottom: 45px;
    padding: 17px 20px;
  }

  .advantages__link {
    padding: 48px 0 35px;
  }

  .advantages__link--health svg {
    width: 98px;
    height: 110px;
  }

  .advantages__link--consultation {
    padding: 50px 0 38px;
  }

  .advantages__link--consultation svg {
    width: 107px;
    height: 97px;
  }

  .advantages__link--nutrition svg {
    width: 70px;
    height: 110px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 26px;
  }

  .care {
    background-image: url("../img/bg-care-tablet@1x.webp");
    background-size: cover;
  }

  .webp .care {
    background-image: url("../img/bg-care-tablet@1x.webp");
    background-size: cover;
  }

  .care__wrapper {
    padding-bottom: 105px;
  }

  .list-care__item {
    margin-bottom: 23px;
  }

  .list-care__link {
    padding: 40px 120px 25px 50px;
  }

  .list-care__link::after {
    width: 60px;
  }

  .list-care__title {
    font-size: 22px;
    line-height: 26px;
  }

  .list-care__text {
    font-size: 14px;
    line-height: 23px;
  }

  .team__wrapper {
    padding-top: 85px;
  }

  .team__wrapper .container {
    width: 100%;
    max-width: none;
  }

  .team__title {
    margin: 0 auto 23px;
  }

  .team__lead {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 25px;
  }

  .team__slider-wrapper {
    padding-bottom: 95px;
  }

  .team__item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 84.5vw;
    margin: 0 9.5vw 0 6vw;
    padding: 25px;
    border: 0.5px solid rgba(160, 123, 80, 0.43);
    background-color: transparent;
  }

  .team__image-wrapper {
    position: absolute;
    right: 57px;
    bottom: -95px;
    width: 208px;
    max-width: none;
    height: 208px;
    margin: 0;
  }

  .team__item-content {
    margin: 0;
    padding: 70px 95px 75px 105px;
    text-align: left;
  }

  .team__item-content p {
    margin: 0 auto 43px;
    font-size: 16px;
    line-height: 25px;
  }

  .team__item-title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
  }

  .team__item-jobTitle {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
  }

  .team__social {
    margin: 0 auto 0 0;
  }

  .team__social-link--facebook svg {
    width: 7px;
    height: 15px;
  }

  .team__social-link--twitter svg {
    width: 20px;
    height: 14px;
  }

  .team__social-link--vkontakte svg {
    width: 21px;
    height: 13px;
  }

  .team__buttons-wrapper {
    top: 94.5%;
    left: calc(400px + ((100vw - 768px) * 0.918));
    width: 290px;
    max-width: none;
    -webkit-transform: none;
            transform: none;
  }

  .team__buttons-wrapper .slick-arrow {
    height: 30px;
    width: 12px;
  }

  .faq__wrapper {
    padding-top: 135px;
    padding-bottom: 0;
  }

  .faq__title {
    margin-bottom: 33px;
  }

  .faq__list {
    counter-reset: faq-counter;
  }

  .faq__item {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 910px;
    margin: 0 auto 23px;
    padding-left: 80px;
  }

  .faq__item:nth-last-child(1) {
    margin-bottom: 0;
  }

  .faq__item::before {
    content: "0" counter(faq-counter);
    position: absolute;
    top: 15px;
    left: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #a07b50;
    counter-increment: faq-counter;
  }

  .faq__item-wrapper {
    max-width: none;
    margin: 0 auto 0 0;
  }

  .faq__question {
    padding: 22px 170px 15px 30px;
    font-size: 16px;
    line-height: 19px;
  }

  .faq__question::after {
    width: 72.5px;
  }

  .faq__text--show {
    padding: 27px 140px 20px 30px;
    font-size: 16px;
    line-height: 25px;
  }

  .faq__text--show {
    padding: 40px 200px 40px 40px;
    font-size: 16px;
    line-height: 25px;
  }

  .faq__text p {
    margin-bottom: 25px;
  }

  .faq__text p:nth-last-child(1) {
    margin-bottom: 0;
  }

  .reviews__wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .reviews__wrapper .container {
    width: auto;
    max-width: none;
  }

  .reviews__title {
    margin-bottom: 50px;
  }

  .reviews__item {
    width: 75.26vw;
    margin: 0 12.37vw;
  }

  .reviews__img-wrapper {
    width: 302px;
    height: 208px;
  }

  .reviews__item-content {
    margin-top: -95px;
    padding-top: 131px;
    padding-bottom: 33px;
  }

  .reviews__author-name {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }

  .reviews__author-text {
    width: 56%;
    max-width: none;
    margin: 0 auto 20px;
    font-size: 14px;
    line-height: 23px;
  }

  .reviews__date {
    line-height: 19px;
  }

  .reviews__buttons-wrapper {
    top: 134px;
    width: 482px;
  }

  .reviews__buttons-wrapper .slick-arrow {
    width: 60px;
    height: 16px;
    background-image: url("../img/arrow-slider-big.svg");
  }

  .page-footer__wrapper {
    padding: 68px 0;
  }

  .page-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .page-footer__address {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0;
  }

  .page-footer__address address {
    font-size: 14px;
    line-height: 27px;
  }

  .page-footer__phone {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
    -webkit-transform: translate(7px);
            transform: translate(7px);
    font-size: 14px;
    line-height: 27px;
  }

  .page-footer__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }

  .page-footer__logo {
    display: none;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__wrapper {
    background-image: url("../img/main-cat-tablet@2x.png");
  }

  .webp .page-header__wrapper {
    background-image: url("../img/main-cat-tablet@2x.webp");
  }

  .care {
    background-image: url("../img/bg-care-tablet@2x.webp");
    background-size: cover;
  }

  .webp .care {
    background-image: url("../img/bg-care-tablet@2x.webp");
    background-size: cover;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
  }

  .page-header__wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 47px 78px 65px;
    background-image: url("../img/main-cat-desktop@1x.png");
    background-size: 684px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .webp .page-header__wrapper {
    background-image: url("../img/main-cat-desktop@1x.webp");
    background-size: 684px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .page-header__logo {
    margin-bottom: 115px;
  }

  .page-header__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 460px;
    margin-left: 0;
  }

  .page-header__content-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .page-header__social-list {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 15px;
    height: 60px;
    padding-top: 109px;
  }

  .page-header__social-list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: 0.5px;
    height: 77.5px;
    background-color: #e5e5e5;
  }

  .pets__wrapper {
    padding-top: 220px;
  }

  .pets__list {
    margin-bottom: 47px;
  }

  .pets__slider {
    max-width: none;
  }

  .pets__slider-content {
    display: grid;
    grid-template-areas: "top large" "bottom large";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 30px;
    width: 1024px;
    height: 485px;
    margin: 0 auto;
  }

  .pets__slider-item {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    margin: 0;
    overflow: hidden;
  }

  .pets__slider-item--top {
    grid-area: top;
  }

  .pets__slider-item--bottom {
    grid-area: bottom;
  }

  .pets__slider-item--large {
    grid-area: large;
  }

  .pets__slider-item img {
    position: static;
    width: auto;
    max-width: none;
    height: auto;
    -webkit-transform: none;
            transform: none;
    -o-object-fit: fill;
       object-fit: fill;
  }

  .pets__slider .slick-arrow {
    display: none;
  }

  .breed-features__wrapper {
    min-height: 1010px;
  }

  .breed-features__item::after {
    width: 15px;
    height: 15px;
  }

  .breed-features__item--companion {
    top: 407px;
    right: 392px;
    max-width: 245px;
    text-align: right;
  }

  .breed-features__item--companion::after {
    top: 8px;
    left: 269px;
  }

  .breed-features__item--training {
    max-width: 190px;
    top: 493px;
    left: 491px;
  }

  .breed-features__item--training::after {
    left: -35px;
  }

  .breed-features__item--size {
    max-width: 190px;
    top: 643px;
    left: 445px;
  }

  .breed-features__item--size::after {
    top: 6px;
    left: -27px;
  }

  .breed-features__item--lynx {
    max-width: 190px;
    top: 551px;
    right: 361px;
    text-align: end;
  }

  .breed-features__item--lynx::after {
    top: 9px;
    left: 210px;
  }

  .breed-features__lead {
    margin-bottom: 20px;
  }

  .breed-features__picture-wrapper {
    width: 602px;
    -webkit-transform: translateX(44px);
            transform: translateX(44px);
  }

  .breed-features__picture-wrapper::before {
    top: 110px;
    left: 26px;
    width: 519px;
    height: 519px;
    background: #151313;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .breed-features__picture-wrapper::after {
    top: 55px;
    left: -29px;
    width: 631px;
    height: 631px;
  }

  .advantages__lead {
    margin-bottom: 47px;
  }

  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
  }

  .advantages__item {
    min-height: 300px;
    margin: 0;
  }

  .care {
    background-image: url("../img/bg-care-desktop@1x.webp");
    background-size: cover;
  }

  .webp .care {
    background-image: url("../img/bg-care-desktop@1x.webp");
    background-size: cover;
  }

  .care__wrapper {
    padding-bottom: 100px;
  }

  .care__title {
    margin-bottom: 50px;
  }

  .list-care {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-gap: 43px;
    width: 1160px;
    margin: 0 auto;
  }

  .list-care__item {
    margin: 0;
  }

  .team__wrapper {
    padding-bottom: 70px;
  }

  .team__wrapper .container {
    max-width: 1366px;
  }

  .team__slider-wrapper {
    margin: 0 90px;
    padding: 0;
  }

  .team__slider {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .team__item {
    width: 660px;
    margin: 0 353px 0 353px;
    padding: 23px 34px 23px 26px;
    -webkit-transform: translateX(172px);
            transform: translateX(172px);
  }

  .team__image-wrapper {
    top: 0;
    left: -313px;
    width: 360px;
    height: 360px;
  }

  .team__item-content {
    padding: 70px 100px;
  }

  .team__item-content p {
    width: 400px;
    margin: 0 auto 43px 0;
  }

  .team__buttons-wrapper {
    width: 1160px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .faq__wrapper {
    padding-top: 73px;
  }

  .faq__title {
    margin-bottom: 23px;
  }

  .faq__lead {
    line-height: 23px;
  }

  .faq__item {
    padding-left: 116px;
  }

  .faq__item::before {
    font-size: 70px;
    line-height: 82px;
  }

  .faq__question {
    padding: 47px 115px 43px 40px;
  }

  .faq__question::after {
    width: 105px;
  }

  .reviews__wrapper {
    padding-top: 90px;
    padding-bottom: 110px;
  }

  .reviews__slider-wrapper {
    margin: 0 90px;
  }

  .reviews__item {
    position: relative;
  }

  .reviews__img-wrapper {
    position: absolute;
    top: 46px;
    left: 0;
    width: 480px;
    height: 330px;
  }

  .reviews__item-content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 640px;
    margin: 0 0 0 auto;
    padding: 110px 85px 105px 145px;
    text-align: start;
  }

  .reviews__author-text {
    width: auto;
    margin: 0 auto 40px 0;
  }

  .reviews__footer {
    width: 180px;
    margin: 0 auto 0 0;
  }

  .reviews__buttons-wrapper {
    width: 1160px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .reviews__buttons-wrapper .slick-arrow {
    width: 12px;
    height: 30px;
    background-image: url("../img/arrow-slider.svg");
  }

  .page-footer .container {
    width: 850px;
    margin: 0 auto;
  }

  .page-footer__logo {
    display: block;
    margin: 0;
    width: 47px;
    height: 21px;
  }

  .page-footer__logo svg {
    width: 47px;
    height: 21px;
  }
}

@media (min-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1366px) and (min-resolution: 144dpi), (min-width: 1366px) and (min-resolution: 1.5dppx) {
  .page-header__wrapper {
    background-image: url("../img/main-cat-desktop@2x.png");
  }

  .webp .page-header__wrapper {
    background-image: url("../img/main-cat-desktop@2x.webp");
  }

  .care {
    background-image: url("../img/bg-care-desktop@2x.webp");
    background-size: cover;
  }

  .webp .care {
    background-image: url("../img/bg-care-desktop@2x.webp");
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .page-header__wrapper {
    padding-top: 27px;
    padding-bottom: 276px;
    background-image: url("../img/main-cat-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 320px auto;
  }

  .webp .page-header__wrapper {
    background-image: url("../img/main-cat-mobile@1x.webp");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 320px auto;
  }

  .care {
    background-image: url("../img/bg-care-tablet@1x.webp");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .webp .care {
    background-image: url("../img/bg-care-tablet@1x.webp");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .page-header__wrapper {
    background-image: url("../img/main-cat-mobile@2x.png");
  }

  .webp .page-header__wrapper {
    background-image: url("../img/main-cat-mobile@2x.webp");
  }

  .care {
    background-image: url("../img/bg-care-tablet@2x.webp");
    background-size: cover;
  }

  .webp .care {
    background-image: url("../img/bg-care-tablet@2x.webp");
    background-size: cover;
  }
}

@media (min-width: 767px) and (max-width: 1365px) {
  .pets__slider-item {
    width: 474px;
    height: 491px;
  }
}